.find {
  color: #fff;
  position: relative;
  background-color: #868686;
  padding: 2em 0;
}

.find ul li {
  font-weight: 400;
  margin: 0.5em 0;
}

#video-find {
  width: 100%;
  border-radius: 2em;
  margin: 2em auto 1em;
}

@media (min-width: 768px) {
  .find-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
  }

#video-find {
  width: 50%;
  margin: 0 2em;
}
}

@media (min-width: 1024px) {
  .find {
    padding: 100px 0;
    display: flex;
    align-items: center;
  }
}

