.hero {
  background: rgb(255, 255, 255);
  background: linear-gradient(225deg, rgba(255, 255, 255, 1) 0%, rgba(235, 248, 231, 1) 1%);
  color: #3A3A3A;
  position: relative;
  padding: 2em 0;
  margin-top: 80px;
}

.psn-abs {
  position: absolute;
  left: 0;
}

.bg-vector {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.psn-abs-left {
  position: absolute;
  left: -30px;
  bottom: 10%;
  z-index: 0;
}

.psn-abs-right {
  position: absolute;
  right: -30px;
  top: 10%;
  z-index: 1;
  max-height: 90%;
}

.hero-image {
  z-index: 9;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hero {
    padding: 100px 0;
    display: flex;
    align-items: center;
  }

  .hero-container {
    display: flex;
  }

  .psn-abs-left {
    display: none;
  }

  .hero-content {
    text-align: left;
  }

  .hero-image {
    position: absolute;
    bottom: 0;
    max-width: 400px;
  }

  .bg-vector {
    position: static;
  }
}